
.time {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
  vertical-align: bottom;
  line-height: 1;
}


.calendar-date {
  display: flex;
  /*align-content: flex-end;*/
  align-items: flex-end;
}

.calendar-date span {
  display: inline-block;
  margin-right: .5rem;
  line-height: 1;
}

.calendar-date .day {
  font-size: 1.5rem;
}

.calendar-date .month {
  font-size: 1rem;
}

.calendar-date .year {
  font-size:1rem
}


@media (min-width: 576px) {
  .calendar-date .day {
    font-size: 3rem;
  }

  .calendar-date .month {
    font-size: 2rem;
  }

  .calendar-date .year {
    font-size: 2rem
  }
}