
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~weather-icons-npm/css/weather-icons.min.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background: #83A4E6;
  color: #fff;
}

.location {
  font-size: 2rem;
  text-transform: uppercase;
}

.temperature, .icon {
  font-size: 5rem;
}

.weather-details {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.time {
  display: flex;
  align-items: flex-end;
  font-size: 4rem;
  vertical-align: bottom;
  line-height: 1;
}

.calendar-date span {
  display: inline-block;
  margin-right: 1rem;
  line-height: 1;
}

.calendar-date .day {
  font-size: 3rem;
}

.calendar-date .month {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.calendar-date .year {
  font-size: 2rem
}